[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "info"]
	path = info
	url = https://github.com/NoHamster/info
[submodule "List"]
	path = List
	url = https://github.com/NoHamster/List
