[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "NoFont"]
	path = NoFont
	url = git@github.com:TheRobotFox/NoFont
[submodule "info"]
	path = info
	url = git@github.com:TheRobotFox/info
